<!DOCTYPE html>
<html lang="en">
<head>
    
   
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Nomahlubi Koyana</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all,follow">
        <!-- Bootstrap CSS-->
        <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
        <!-- Google fonts-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,800&amp;display=swap">
        <!-- theme stylesheet-->
        <link rel="stylesheet" href="~/css/style.default.css" id="theme-stylesheet">
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" href="~/css/custom.css">
        <!-- Favicon-->
        <link rel="shortcut icon" href="~/img/favicon.png">
        <!-- Tweaks for older IEs-->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    </head>
<body>
    <!-- navbar-->
    <header class="header">
       
    </header>
    <!-- Hero Section-->
    <section class="hero bg-cover bg-center mt-5" id="hero" style="background: url(~/wwwroot/img/hlubi.jpg)">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link link-scroll active" href="#hero">Home <span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a class="nav-link link-scroll" href="#Skills">Skills</a></li>
                        <li class="nav-item"><a class="nav-link link-scroll" href="#expertise">Expertise</a></li>
                        <li class="nav-item"><a class="nav-link link-scroll" href="#education">Education</a></li>
                        <li class="nav-item"><a class="nav-link link-scroll" href="#experience">Experience</a></li>
                        <li class="nav-item"><a class="nav-link link-scroll" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container py-5 my-5 index-forward">
            <div class="row">
                <div class="col-md-8 text-white">
                    <h2 class="h4 text-primary font-weight-normal mb-0">Hi, I am</h2>
                    <h1 class="text-uppercase text-xl mb-0">Koyana<span class="text-primary"></span></h1><br />
                    <h1 class="text-uppercase text-xl mb-0"><span class="text-primary">Nomahlubi</span></h1>
                    <h2 class="h4 font-weight-normal mb-5">Junior Developer</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section-->
    <section class="bg-light" id="Skills">
        <div class="container">
            <header class="mb-5">
                <p class="font-weight-bold text-primary text-uppercase letter-spacing-3">Skills</p>
                <span class="small text-muted">HTML5</span><br />
                <span class="small text-muted">CSS3 / JavaScript </span><br />
                <span class="small text-muted">C# Programming </span><br />
                <span class="small text-muted">Java Programming </span><br /> 
                <span class="small text-muted">Bootstrap</span><br />
                <span class="small text-muted">Entity Framework </span><br />
                <span class="small text-muted">WordPress </span><br />
            </header>
            </div>

    </section>
    <!-- Expertise Section        -->
    <section id="expertise">
        <div class="container">
            <header class="mb-5 pb-4">

                <h2 class="text-uppercase lined">Web Development</h2>
            </header>
            <div class="row">
                <div class="col-md-6 mb-5">
                    <h3 class="h4"><span class="text-primary mr-2">01</span>System Design</h3>

                </div>
                <div class="col-md-6 mb-5">
                    <h3 class="h4"><span class="text-primary mr-2">02</span>Database</h3>

                </div>
                <div class="col-md-6 mb-5 mb-md-0">
                    <h3 class="h4"><span class="text-primary mr-2">03</span>Backend</h3>

                </div>
                <div class="col-md-6">
                    <h3 class="h4"><span class="text-primary mr-2">04</span>Frontend</h3>

                </div>
            </div>
        </div>
    </section>
    <!-- Education Section-->
    <section class="bg-light" id="education">
        <div class="container">
            <header class="mb-5 pb-4">

                <h2 class="text-uppercase lined">Education</h2>
            </header>
            <!--  Timeline -->
            <ul class="timeline">
                <!-- Timeline item-->
                <li class="timeline-item ml-3 pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row no-gutter">
                        <div class="col-lg-5 mb-4 mb-lg-0">
                            <p class="font-weight-bold mb-2 text-primary text-small">15 February 2016 - 01 December 2016</p>
                            <h2 class="h5 mb-0 text-uppercase">High Certificate inInformation Technology</h2>
                            <h2 class="h5 mb-0 text-uppercase"><u>National Certificate</u></h2>
                            <span class="small text-muted">RichField Graduate Institute Of Technology </span>
                        </div>
                        <div class="col-lg-7">

                            <p class="font-weight-bold mb-2 text-primary text-small">First Semester</p>
                            <span class="small text-muted">Development Software</span><br />
                            <span class="small text-muted">Information System </span><br />
                            <span class="small text-muted">Network </span><br />
                            <span class="small text-muted">Programming </span><br />

                            <p class="font-weight-bold mb-2 text-primary text-small">First Semester</p>
                            <span class="small text-muted">Business Communication</span><br />
                            <span class="small text-muted">Information System </span><br />
                            <span class="small text-muted">Network </span><br />
                            <span class="small text-muted">Programming </span><br />
                            <span class="small text-muted">Web Technology </span>

                        </div>
                    </div>
                </li>
                <!-- Timeline item-->
                <li class="timeline-item ml-3 pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row no-gutter">
                        <div class="col-lg-5 mb-4 mb-lg-0">
                            <p class="font-weight-bold mb-2 text-primary text-small">20 February 2017 - 03 November 2017 </p>
                            <h2 class="h5 mb-0 text-uppercase">A+ ComptIA </h2>
                            <span class="small text-muted">Boston City Campus (SOWETO)</span>
                        </div>
                        <div class="col-lg-7">

                        </div>
                    </div>
                </li>
                <!-- Timeline item-->
                <li class="timeline-item ml-3 pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row no-gutter">
                        <div class="col-lg-5 mb-4 mb-lg-0">
                            <p class="font-weight-bold mb-2 text-primary text-small">16 May 2018 - 16 August 2018 </p>
                            <h2 class="h5 mb-0 text-uppercase">Java SE Programming</h2>
                            <h2 class="h5 mb-0 text-uppercase"><u>Internation Certification</u></h2>
                            <span class="small text-muted">Graduate Institute Of South A frica (GISA)</span>
                        </div>
                        <div class="col-lg-7">
                        </div>
                    </div>
                </li>
                <!--Timeline item-->
                <li class="timeline-item ml-3 pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row no-gutter">
                        <div class="col-lg-5 mb-4 mb-lg-0">
                            <p class="font-weight-bold mb-2 text-primary text-small">01 September 2018 - 12 November 2018 </p>
                            <h2 class="h5 mb-0 text-uppercase">Microsoft Certified Solution Associate (MCSA) Windows Server 2016</h2>
                            <h2 class="h5 mb-0 text-uppercase"><u>Internation Certification</u></h2>
                            <span class="small text-muted">Graduate Institute Of South Africa</span>
                        </div>
                        <div class="col-lg-7">
                        </div>
                    </div>
                </li>
                <!--timeline item-->
                <li class="timeline-item ml-3 pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row no-gutter">
                        <div class="col-lg-5 mb-4 mb-lg-0">
                            <p class="font-weight-bold mb-2 text-primary text-small">March 2019 - May 2019 </p>
                            <h2 class="h5 mb-0 text-uppercase">Microsoft Technology Associate (MTA)</h2>
                            <h2 class="h5 mb-0 text-uppercase">Microsoft 70-483 Programming In C#</h2>
                            <h2 class="h5 mb-0 text-uppercase"><u>Internation Certification</u></h2>
                            <span class="small text-muted">DynamicDna </span>
                        </div>
                        <div class="col-lg-7">
                        </div>
                    </div>
                </li>
                <!--timeline item-->
                <li class="timeline-item ml-3 pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row no-gutter">
                        <div class="col-lg-5 mb-4 mb-lg-0">
                            <p class="font-weight-bold mb-2 text-primary text-small">May 2019 - April 2020 </p>
                            <h2 class="h5 mb-0 text-uppercase">System Development Level 5</h2>
                            <h2 class="h5 mb-0 text-uppercase"><u>National Certificate</u></h2>
                            <span class="small text-muted">Puleng Technologies </span>
                        </div>
                        <div class="col-lg-7">
                        </div>
                    </div>
                </li>
                <!--timeline item-->
                <li class="timeline-item ml-3 pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row no-gutter">
                        <div class="col-lg-5 mb-4 mb-lg-0">
                            <p class="font-weight-bold mb-2 text-primary text-small">February -  </p>
                            <h2 class="h5 mb-0 text-uppercase">Micrososft Certified:Azure Security Engineer Associate</h2>
                            <h2 class="h5 mb-0 text-uppercase"><u>International Certification</u></h2>
                            <span class="small text-muted">Puleng Technologies </span>
                        </div>
                        <div class="col-lg-7">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Experience Section        -->
    <section id="experience">
        <div class="container">
            <header class="mb-5 pb-4">
                <p class="font-weight-bold text-primary text-uppercase letter-spacing-3"></p>
                <h2 class="text-uppercase lined">Experience</h2>
            </header>
            <!--  Timeline -->
            <ul class="timeline">
                <!-- Timeline item-->
                <li class="timeline-item ml-3 pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row no-gutter">
                        <div class="col-lg-5 mb-4 mb-lg-0">
                            <p class="font-weight-bold mb-2 text-primary text-small">01 Septemeber 2020 – Present </p>
                            <h2 class="h5 mb-0 text-uppercase">Initium Venture Solution</h2>
                            <p class="text-small mb-0">Junior Developer</p><span class="small text-muted">271 Surrey Ave, Ferndale, Randburg, 2194</span>
                        </div>
                        <div class="col-lg-7">
                            <h2 class="h5 mb-0 text-uppercase"> Duties</h2>
                            <div class="col-lg-7">Developing Human Resource System</div>
                            <div class="col-lg-7">Language and Framework</div>
                            <div class="col-lg-7">C# programming</div>
                            <div class="col-lg-7"> Entity Framework</div>
                        </div>
                    </div>
                </li>
                <!-- Timeline item-->
                <li class="timeline-item ml-3 pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row no-gutter">
                        <div class="col-lg-5 mb-4 mb-lg-0">
                            <p class="font-weight-bold mb-2 text-primary text-small">15 January 2020 -30 April  2020 </p>
                            <h2 class="h5 mb-0 text-uppercase">Puleng Technologies</h2>
                            <p class="text-small mb-0">Learnership Programme</p><span class="small text-muted">Midrand Puleng Technologies</span>
                        </div>
                        <div class="col-lg-7">
                            <h2 class="h5 mb-0 text-uppercase"> Duties</h2>
                            <div class="col-lg-7">Fixing Computers</div>
                            <div class="col-lg-7">Checking all phones are working accordingly</div>
                            <div class="col-lg-7">Allocation space in the server room if needed</div>
                        </div>
                    </div>
                </li>
                <!-- Timeline item-->
                <li class="timeline-item ml-3 pb-4">
                    <div class="timeline-arrow"></div>
                    <div class="row no-gutter">
                        <div class="col-lg-5 mb-4 mb-lg-0">
                            <p class="font-weight-bold mb-2 text-primary text-small">1 May 2019 - 30 April 2020</p>
                            <h2 class="h5 mb-0 text-uppercase">DynamicDna</h2>
                            <p class="text-small mb-0">Learner</p><span class="small text-muted">Portland, OR</span>
                        </div>
                        <div class="col-lg-7">
                            <h2 class="h5 mb-0 text-uppercase"> Duties</h2>
                            <div class="col-lg-7">	Communication, personal development, and technical meetings </div>
                            <div class="col-lg-7">	Database creation and implementation, SQL </div>
                            <div class="col-lg-7">	Input and output design in systems development </div>
                            <div class="col-lg-7"> Database collection and data analysis </div>
                            <div class="col-lg-7">	Programming the world wide web and java programming fundamentals</div>
                            <div class="col-lg-7">	Gathering techniques in systems development </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Education Section        -->
    <section class="bg-light" id="contact">
        <div class="container">
            <header class="mb-5 pb-4">
                <h2 class="text-uppercase lined">Contact</h2>
            </header>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <div class="px-4 py-5 text-center contact-item shadow-sm">
                        <i class="fas fa-map-marker-alt fa-2x mb-4"></i>
                        <h4 class="contact-item-title h5 text-uppercase">Location</h4>
                        <p class="text-small mb-0">Gauteng,Johannesburg</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <div class="px-4 py-5 text-center contact-item shadow-sm">
                        <i class="fas fa-mobile fa-2x mb-4"></i>
                        <h4 class="contact-item-title h5 text-uppercase">Phone</h4>
                        <p class="text-small mb-0">0676030283</p>
                    </div>
                </div>

                @*<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <a class="px-4 py-5 text-center contact-item shadow-sm d-block reset-anchor" href="www.example.com">
                        <i class="fas fa-globe-americas fa-2x mb-4"></i>
                        <h4 class="contact-item-title h5 text-uppercase">Website</h4>
                        <p class="text-small mb-0">www.example.com</p>
                    </a>
                </div>*@

                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <a class="px-4 py-5 text-center contact-item shadow-sm d-block reset-anchor" href="mailto:info@example.com">
                        <i class="fas fa-envelope fa-2x mb-4"></i>
                        <h4 class="contact-item-title h5 text-uppercase">Email</h4>
                        <p class="text-small mb-0">zamahlubi27koyana@gmail.com</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer>
        <div class="container text-center section-padding-y">
            <div class="row px-4">
                <div class="col-lg-7 mx-auto">
                    <h2 class="text-uppercase mb-0">Koyana Nomahlubi </h2>
                    <h6 class="text-primary text-uppercase mb-0 letter-spacing-3">Junior Web Developer</h6>
                </div>
            </div>
        </div>

    </footer>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
